:root{font-size: 62.5%;}
body{
	margin:0;box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
svg{
	fill:currentColor;
}
h1,h2,h3,h4,h5,p{margin: 0;font-weight: 500;}
img{width:100%;}
ul{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;}
.w-100{
	width:100vw;
}
.h-100{
	height: 100vh;
}
.d-flex{
	display: flex;
}
.d-inline-flex{
	display: inline-flex;
}
.align-center{
	align-items: center;
}
.jus-between{
	justify-content: space-between;
}
.container{
	position: relative;
	width:100%;
	height: 100%;
}
.border-bot{
	border-bottom: 1px solid #e6e6e6;
}
.main-contain,.sidebar,.main-wrapper,.sidebar{
	position: relative;
	transition: all 1s ;
}

/*menu  sidebar  in left*/
	.sidebar-open{
		width: 180px !important;
	}
	.sidebar{
		width:36px;
		height: 100vh;
		overflow-y: scroll; 
		border-right:1px solid #ccc;
		position: fixed;
		background-color: rgb(48, 65, 86);
	}
	.sidebar::-webkit-scrollbar{
		width: 1px;
	}
	.sidebar::-webkit-scrollbar-track{
		background: rgb(48, 65, 19);
	}
	/*	.menu-col > li{
		}
	*/	

	/*menu-col drop with ul li a*/
		.menu-col  a{
				font-size: 14px;
				box-sizing: border-box;
				width:100%;
				padding: 20px 0 20px 3em;
				display: inline-block;
				color: rgb(191, 203, 217); 
			}
		.elm-active > *{
			color: rgb(64,158,255) !important;
		}
		.menu-col li{
			position: relative;
		}
		.menu-col > li span{
			position: absolute;
			width:15px;
			height: 15px;	
			left: 10px;
			top: 20px;
			display: inline-block;
			color: rgb(191, 203, 217);
		}
		.sidebar-open .menu-drop{position: relative;}
		.sidebar-open .menu-drop:after{
			content: '';
			position: absolute;
			width:.6em;
			height: .6em;
			border:solid rgb(191, 203, 217);
			border-width: 0 0 1px 1px;
			top:calc( 20px );
			right: 1.5em;
			transform:rotate(-45deg);
			transition:transform .4s;
		}
		.menu-drop-col{
			background-color: #263445;
			overflow: hidden;
			max-height: 0;
			transition: max-height .6s linear; 
			box-shadow: inset 0 10px 10px -10px #000; 
		}
		.drop-1 > * >a{
			padding-left: calc(20px + 1em) !important;
			background-color: #3a4a5f;
		}
		.drop-2 > * >a{
			padding-left: calc(20px + 2em) !important;
			background: #496181;
		}
		.drop-3 > * >a{
			padding-left: calc(20px + 3em) !important;
			background: #5e728d;
		}

		/*menu hover effect		*/
			.menu-col  a:hover{
				background-color: hsla(0, 0%, 100%, 0.13333333333333333);
			}
			.menu-col-drop > li:hover > a{
				color: #fff !important;
				background-color:rgb(56, 74, 92);
			}
			.sidebar-open .menu-drop:hover > .menu-drop-col{
				max-height: 600px;
				border-bottom: 1px solid rgb(48, 65, 86); 
			}
			.sidebar-open .menu-drop:hover:after{
				transform: rotate(135deg);
			}


/*main contain in part else*/



	.main-contain{
		margin-left: 36px;
		/*height: 200vh;*/
	}
	.main-close{
		margin-left: 180px;
	}

		/*header*/
			.header{
				height: 50px;
			}
			/*head-left*/
				/*hamburger-wrapper*/
					.hamburger-wrapper{
						padding:0 10px;
					}
					.hamburger{
						width: 20px;
						height: 20px;
						z-index: 10;
						cursor: pointer;
						transition:transform .4s linear;
					}
					.is-active{
						transform: rotateY(180deg);
					}
				
				/*folder-wrapper*/
					.folder{
						font-size: 1.4rem;
						color: #606266;
					}
					.folder .inner{
						color: #303133;
						font-weight: 700;
						cursor: pointer;
					}
					.folder .inner:hover{
						color:#409eff;
					}
					.folder .current{
						font-weight: 400;
						cursor: text;
						color: #97a8be
					}
					/*dau' pha^n ca'ch thu muc.*/
					.folder .separator{
						color:#c0c4cc;
						margin-left: 8px;
						margin-right: 8px;
					}

			/*head-right*/
				.translate-box{
					max-width: 20px;
					color: #606266;
					margin-right: 10px;
				}
				.translate-box:hover{
					color:#4d00ff;
					cursor: pointer;
					stroke: red;
					stroke-width:5px;
				}
				.avatar-head{
					margin-right: 30px;
				}
				.avatar-head > img{
					width:40px;
					height: 40px;
					border-radius: 20%;
					margin-right: 10px;
				}



		/*nav-view to import folder name		*/

			.nav-view{
				height: 35px;
			}
			.nav-folder{
				position: relative;
				padding: 4px 0 4px 10px;
			}
			.box-folder{

				display: inline-block;
				border:1px solid #d8dce5;
				font-size: 1.2rem;
				padding: 5px;
				margin-right: 5px;
				cursor: pointer;
				color: #495060;


			}
			.box-folder--current{
				color:#f1f1f1;
				background-color: #42b983;
				font-weight: 700;
			}
			.box-folder--current > p{
				padding-left:1.3em;
				position: relative;
			}
			.box-folder--current > p:before{
				position: absolute;
				content:'';
				width:.7em;
				height:.7em;
				left:.2em;
				top:.3em;
				border-radius: 50%;
				background-color: #fff;
			}
			.box-folder--current span,.box-folder span:hover{
				background-color: #b4bccc;
			}
			.box-folder span{
				display: inline-block;
				width:1.5em;
				height: 1.5em;
				margin-right: .3em;
				margin-left: .2em;
				position: relative;
				border-radius: 50%;
				transition: color .2s;
				vertical-align: middle;
			}
			.box-folder span:before,.box-folder span:after{
			    content: "";
			    position: absolute;
			    z-index: 1;
			    width: .6em;
			    height: 1px;
			    top: calc(50% - .5px);
			    left: calc(50% - .3em);
			    background-color: #495060;
			}
			.box-folder--current span:before,
			.box-folder--current span:after,
			.box-folder span:hover:before,
			.box-folder span:hover:after{
				background-color: #fff;
			}
			.box-folder span:after{
				transform: rotate(45deg);
			}
			.box-folder span:before{
				transform: rotate(-45deg);
				
			}





		/*section main content*/
			section.main-content{
				padding: 32px 32px 60px 32px;
				background-color: #f0f2ee;
			}
			.content-wrapper{
				display: grid;
				grid-template-columns: repeat(4,1fr);
				grid-gap: 10px;
				justify-content: stretch;
				align-items: stretch;
			}
			.data-table{
				grid-column: 1/span 2;
				}

				.value,.todo{
					background-color: #fff;
				}
				.value{
					display: grid;
					grid-template-columns: 60% 30% 10%;
					font-size: 1.4rem;
					font-weight: 400;
					color: #606266;
					padding: 15px;
					margin-bottom: 1.5px;
					align-items: stretch;
					justify-content: stretch;
				}
				.value > *:not(:first-child){
					justify-self:center;
				}
				.value > *{
					align-self: center;
				}
				.value-name{
					font-weight: 700;
				    color: #909399;
					align-content: center;
					padding-top: 30px;
				}
				.value .status{
					font-size: 1rem;
					border-width: 1px;
					border-style: solid;
					border-collapse: collapse;
					border-radius: 5%;
					padding: 5px;
				}
				.value .status-success{
				    background-color: rgba(103,194,58,.1);
				    border-color: rgba(103,194,58,.2);
			    	color: #67c23a;
				}		
				.value .status-pending{
				    background-color: rgba(245,108,108,.1);
				    border-color: rgba(245,108,108,.2);
				    color: #f56c6c;
				}
				.value:hover{
					background-color: #fff4;
				}
				.value-name:hover{
					background-color: #fff;
				}
			/*List*/
				.checkbox-wrapper{
					position: relative;
					background: #fff;
					display: block;
					margin-bottom: 1.5px;
					font-size: 1.6rem;
					color: rgb(77, 77, 77);
					user-select: none;
					padding: 15px 0 15px 50px;
				}
				.checkbox-wrapper:hover{
					background: #fff4;
				}
				.list input[type='checkbox']{
					position: absolute;
					opacity: 0;
					max-width: 0;
					height: 0;
				}
				.checkmark-title{
					font-size: 1.8rem;
				}
				span.checkmark-title:after {
				    content:"";
				    position:absolute;
				    top:30%;
				    left: 20px;
				    width:8px;
				    height:8px;
				    border-radius:2px;
				    border: solid rgb(230, 230, 230);
				    border-width:0 0 4px 4px;
				    transform:rotate(-45deg);
				}
				.checkmark{
					color: rgb(0, 0, 0);
					font-size: 1.4rem;
					font-weight: 700;
				}
				.checkmark:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 10px;
					width:24px;
					height: 24px;
					border-radius: 50%;
					border:1px solid #ccc;
					transform: translateY(-50%);
				}
				.checkmark:after{
					position: absolute;
				    content: '';
				    top: calc(50% + .5px);
				    transform-origin: 0% 100%;
				    transform: rotate(-45deg) skewY(-19deg);
				    left: 22px;
				    border: solid rgb(149, 193, 227);
				    border-width: 0px 0px 2px 2px;
				    width: 15px;
				    height: 7px;
					opacity: 0;

				}
				.checkmark,.checkmark:after,.checkmark:before{
					transition:all .4s ;
				}
				input[type='checkbox']:checked + .checkmark-title:after{
					border-color: rgb(115, 115, 115);
				}
				input[type='checkbox']:checked + .checkmark{
					color: rgb(217, 217, 217);
					text-decoration: line-through;
				}
				input[type='checkbox']:checked + .checkmark:before{
					border-color: rgb(220, 240, 255);
				}
				input[type='checkbox']:checked + .checkmark:after{
					opacity: 1;
				}
				input[type='checkbox']:hover ~ button{
					opacity: 1;
					visibility: visible;
				}

				.checkbox-wrapper button{
				    position: absolute;
				    width: 40px;
				    height: 100%;
				    top: 0;
				    text-align: center;
				    right: 10px;
				    padding: 0;
					border:none;
					background: transparent;
					outline: none;
					cursor: pointer;
					opacity: 0;
					visibility: hidden;

				}
				.exit{
					transform: translateX(-25%);
				    display: block;
				    width: 100%;
				    height: 100%;
				}
				.exit:after,.exit:before{
				    position:absolute;
				    content:"";
				    width:40%;
				    height:3px;
				    z-index:10;
				    background:#cc9a9a;
				    top: 50%;
				}
				.exit:after{
				    transform:rotate(45deg);
				}
				.exit:before{
				    transform:rotate(-45deg);
				}	

			   	/*list foot*/
			   		.list-footer{
			   			padding:10px;
			   			position: relative;
			   			max-width: 100%;
			   			background-color: #fff;
			   			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
			   					 	0 8px 0 -3px #f6f6f6,
			   					 	0 9px 1px -3px rgba(0, 0, 0, 0.2), 
			   					 	0 16px 0 -6px #f6f6f6, 
			   					 	0 17px 2px -6px rgba(0, 0, 0, 0.2);
			   		}
			   		span.list-count,.list-footer > ul li a{
						display: block;
						font-size: 1.4rem;
						color: #a1a1a1;					
			   		}
			   		span.list-count,.list-footer > ul,.list-footer > ul > li{
			   			flex-grow: 1;
			   			flex-shrink: 1;
			   		}
					span.list-count{
						flex-basis: 15%;
					}
					.list-footer > ul li a{
						text-align: center;
						padding: 2px;
						box-sizing: border-box;
						border: 1px solid transparent;
					}
					.list-footer > ul li a:hover,.list-footer > ul li a.active{
						border: 1px solid #f0caca;
					}
			/*card-personal*/
					.card-box{background-color: #fff;position: relative;}
					.card-box,.card-box img{height: 100%;width: 100%;}
					.card-box img{transition: all .4s linear;}
					.card-bg{overflow: hidden;height: 50%;position: relative;}

					.card-bg:hover img{
						transform:scale(1.2);
						filter: contrast(150%) saturate(3); 
					}
					.card-avatar{
						position: absolute;
						width:60px;
						height: 60px;
						border-radius: 50%;
						z-index: 100;
						top: calc(50% - 30px);
						left: 20px;
						background-color: #eee4;
						box-shadow: 0 0 10px 5px #eee; 

					}
					.card-avatar > img{
						border-radius: 50%;
						transform-origin: 100% 50%;
					}
					.card-avatar:hover > img{
						transform: rotate(-120deg);
					}

					.info{
						position: absolute;
						width:100%;
						bottom: 10px;
					}
					.skill{margin:0 20px 10px;}
					.langue {
						color: #303133;
						font-size: 1.4rem;
					}
					.track-bar{
						height: 7px;
						border-radius: 10px;
					}
					.track-bar--outer{
						width:80%;
						position: relative;
						background-color: #ebeef5;
					}
					.track-bar--inner{
						width:70%;
						background-color: #409eff;
					}
					.percent{
						margin-left: 20px;
						color: #606266;
						font-size: 1.6rem;
					}