ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

ul.pagination .page-link {
    padding: 1rem 1.5rem;
    background-color: #eaeaea;
    font-size: 1.2rem;
    display: inline-block;
    border: .1px solid #0001;
}

ul.pagination .active .page-link {
    color: white;
    background-color: #777;
    font-weight: 600;
    transform: scale(1.2);
}
a.page-link:hover {
    background-color: #1a143e63;
}